<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{- .Title | default .Site.Title -}}</title>
<meta name="description"
      content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }}">

<meta name="robots" content="index, follow">

{{/* Main styles  */}}
{{ $style := resources.Get "styles/main.scss" }}
{{ $style = $style | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{/* Favicons  */}}
{{ partial "site/favicons" . }}

{{/* Twitter  */}}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@xtiam57" />
<meta name="twitter:creator" content="@xtiam57" />

{{/* Open Graph  */}}
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title | default .Site.Title }}" />
<meta property="og:description" content="{{- .Description | default .Site.Params.Description -}}" />
<meta property="og:locale" content="es_ES" />
<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.image | default .Site.Params.Image }}" />

{{/* Manifest  */}}
<link rel="manifest" href="/manifest.json" />
