<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "site/head.html" . }}

  {{ $postCSSOpts := (dict "use" "autoprefixer" ) }}
  {{ $styles := resources.Get "styles/about.scss" }}
  {{ $styles = $styles | toCSS | postCSS $postCSSOpts | minify | fingerprint }}
  <style>{{ $styles.Content | safeCSS }}</style>
</head>

<body class="regular-layout">
  {{ partial "site/navbar.html" . }}

  <main>
    <section class="container">
      <figure class="wide">
        <img src="/images/about.jpg" alt="About">
      </figure>


      {{ .Content }}
    </section>
  </main>

  {{ partial "lazyload-script.html" . }}

  {{ partial "site/footer.html" . }}
</body>

</html>
