{{ define "styles" }}
{{ $styles := resources.Get "styles/blog.scss" }}
{{ $styles = $styles | toCSS | minify | fingerprint }}
<style>{{ $styles.Content | safeCSS }}</style>
{{ end }}

{{ define "content" }}

<main>
  <section class="container">
    <a href="{{ "/categories" | relURL }}">&larr; Listado de categorías</a>
    <h2>
      Categoría:
      <span class="text-primary">{{ .Title }}</span>
    </h2>

    {{ partial "blog-list" . }}

    {{ partial "blog-pagination" . }}
  </section>
</main>

{{ end }}
