<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "site/head" . }}

  {{ $styles := resources.Get "styles/blog.scss" }}
  {{ $styles = $styles | toCSS | minify | fingerprint }}
  <style>{{ $styles.Content | safeCSS }}</style>
</head>

<body class="regular-layout">
  {{ partial "site/navbar" . }}

  <main>
    <section class="container">
      {{ partial "blog/list" . }}

      {{ partial "blog/pagination" . }}
    </section>
  </main>

  {{ partial "site/footer" . }}
</body>

</html>
