{{ define "styles" }}
{{ $postCSSOpts := (dict "use" "autoprefixer" ) }}
{{ $styles := resources.Get "styles/article.scss" }}
{{ $styles = $styles | toCSS | postCSS $postCSSOpts | minify | fingerprint }}
<style>{{ $styles.Content | safeCSS }}</style>
{{ end }}

{{ define "content" }}

{{ $summaryStyle := .Params.Style | default "wide" }}
{{ if not .Params.Image }}
{{ $summaryStyle = "" }}
{{ end }}

<main>
  {{ partial "article/summary.html" . }}

  <article role="article"
           class="container summary-{{ $summaryStyle }}">
    {{ partial "article/toc.html" . }}

    {{ .Content }}
  </article>

  <div class="container bg-white">
    {{ partial "article/tags.html" . }}

    {{ partial "article/pagination.html" . }}

    {{ partial "article/related.html" . }}
  </div>
</main>

{{ partial "lazyload-scripts.html" . }}
{{ partial "article/smooth-scroll-scripts.html" . }}

{{ if .HasShortcode "figure" }}{{ partial "article/zoom-scripts.html" . }}{{ end }}
{{ if .HasShortcode "gallery" }}{{ partial "article/lightbox-scripts.html" . }}{{ end }}
{{ if .HasShortcode "youtube-lite" }}{{ partial "article/youtube-lite-scripts.html" . }}{{ end }}

{{ end }}
