{{ define "styles" }}
{{ $styles := resources.Get "styles/article.scss" }}
{{ $styles = $styles | toCSS | minify | fingerprint }}
<style>{{ $styles.Content | safeCSS }}</style>
{{ end }}

{{ define "content" }}

{{ $summaryStyle := .Params.Style | default "fit" }}
{{ if not .Params.Image }}
{{ $summaryStyle = "" }}
{{ end }}

<main>
  {{ partial "article/summary.html" . }}

  <article role="article" class="container {{ $summaryStyle }}">
    {{ partial "article/toc.html" . }}

    {{ .Content }}
  </article>

  <div class="container">
    {{ partial "article/tags.html" . }}

    {{ partial "article/pagination.html" . }}

    {{ partial "article/related.html" . }}
  </div>
</main>

{{ partial "lazyload-script.html" . }}

{{ end }}
