<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "site-head" . }}

  <style>
    body {
      min-height: 100vh;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50px auto 50px;
      grid-template-areas:
        'navbar'
        'main'
        'footer';
    }

    main {
      grid-area: main;
      overflow: hidden;
    }
  </style>
  </head>

<body>
  {{ partial "site-navbar" . }}
  {{ block "content" . }}{{ end }}
  {{ partial "site-footer" . }}
</body>

</html>
