<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "site/head.html" . }}

  {{ $styles := resources.Get "styles/home.scss" }}
  {{ $styles = $styles | toCSS | minify | fingerprint }}
  <style>{{ $styles.Content | safeCSS }}</style>
</head>

<body class="bare-layout">
  <main>
    <div class="content-wrapper">
      <div class="content-left"></div>
      <div class="content-right">
        <div class="container">
          <img class="logo-pic" src="images/logo.svg" alt="Profile Image" />

          {{ .Content }}

          <p class="links">
            {{ range $index, $items := .Site.Menus.main }}
            {{- if gt $index 0 }} · {{ end -}}
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          </p>
        </div>
      </div>
      </div>
  </main>
</body>

</html>
