<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "site/head.html" . }}

  {{ $styles := resources.Get "styles/home.scss" }}
  {{ $styles = $styles | toCSS | minify | fingerprint }}
  <style>{{ $styles.Content | safeCSS }}</style>
</head>

<body class="bare-layout">
  <main>
    <div class="content-wrapper">
      <img class="logo-pic" src="images/logo-negative.svg" alt="Profile Image" />

      <p class="links">
        {{ range $index, $items := .Site.Menus.main }}
        {{- if gt $index 0 }} · {{ end -}}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}

      </p>
    </div>
  </main>
</body>

</html>
