<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "site-head" . }}

  {{ $styles := resources.Get "styles/blog.scss" }}
  {{ $styles = $styles | toCSS | minify | fingerprint }}
  <style>{{ $styles.Content | safeCSS }}</style>
</head>

<body class="regular-layout">
  {{ partial "site-navbar" . }}

  <main>
    <section class="container">
      <ul>
        {{ range (.Paginate .RegularPagesRecursive).Pages }}
        <li>
          <div class="post-info">
            <h4>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h4>
            <p class="description">
              {{- .Params.Summary | default .Description -}}
            </p>
          </div>
          <p class="post-details">
            {{ if .Params.Author }}
            By <strong>{{ .Params.Author }}</strong> ·
            {{ else }}
            By <strong>Christiam Mena</strong> ·
            {{ end }}
            <time datetime="{{ .PublishDate.Format "January 2, 2006" }}">
              {{ .PublishDate.Format "January 2, 2006" }}
            </time> ·
            {{.ReadingTime}} minutos de lectura ·
            {{ .WordCount }}
            palabras
          </p>
        </li>
        {{ end }}
      </ul>
      {{ partial "blog-pagination" . }}
    </section>
  </main>

  {{ partial "site-footer" . }}
</body>

</html>
