<!DOCTYPE html>
<html lang="en">

{{ partial "site-head" . }}

{{ $styles := resources.Get "styles/blog.scss" }}
{{ $styles = $styles | toCSS | minify | fingerprint }}
<style>{{ $styles.Content | safeCSS }}</style>

<body>
  {{ partial "site-navbar" . }}

  <main>
    <section class="content-wrapper">
      <h1>Blog</h1>
      <h4>{{ .Page.Title }}</h4>
      <p>{{ .Description }}</p>
      <ul>
        {{ range (.Paginate .RegularPagesRecursive).Pages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      {{ partial "blog-pagination" . }}
      </section>
  </main>

  {{ partial "site-footer" . }}
</body>

</html>
