{{ define "styles" }}
{{ $styles := resources.Get "styles/blog.scss" }}
{{ $styles = $styles | toCSS | minify | fingerprint }}
<style>{{ $styles.Content | safeCSS }}</style>
{{ end }}

{{ define "content" }}

<main>
  <section class="container">
    <h2 class="margin-top-0">
      Etiqueta <code> {</code>
      <span class="text-secondary">{{ .Title }}</span>
      <code> }</code>
    </h2>

    {{ partial "blog/list.html" . }}

    {{ partial "blog/pagination.html" . }}
  </section>
</main>

{{ end }}
