@import "variables";
@import "mixins";

.container {
  padding-top: $container-gutter;
  padding-bottom: $container-gutter;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: $font-family-sans-serif;

  h1 {
    color: $secondary-color;
    line-height: 1;
    margin: 0;
    @include font-size($font-size-base * 20);
    font-family: $font-family-code;
  }

  h4 {
    margin-top: 0;
    margin-bottom: $margin-base * 0.5;
  }

  p {

    color: $text-muted;
    margin: 0;
  }
}
