@import 'variables';
@import 'mixins';
@import 'main';

.container {
  padding-top: $container-gutter;
  padding-bottom: $container-gutter;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    color: $primary-color;
    @include font-size($font-size-base * 20);
    line-height: 1;
  }

  p {
    color: $text-muted;
    margin: 0;

    a {
      display: block;
    }
  }
}

