@import 'mixins';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    color: $primary-color;
    @include font-size($font-size-base * 20);
    line-height: 1;
  }

  h4 {

  }

  p {
    color: $text-muted;
    margin: 0;

    a {
      display: block;
    }
  }
}

