@import 'variables';
@import 'mixins';

:root {
  @each $color, $value in $theme-vars {
    --cm-#{$color}: #{$value};
  }
}

::selection {
  color: $white-color;
  background: $primary-color;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
}

main {
  grid-area: main;
  overflow: hidden;
}

.text-primary {
  color: $primary-color;
}

.text-muted {
  color: $text-muted;
}

.container {
  @include make-container();
}

@include make-regular-layout();
@include make-bare-layout();
