@import "mixins";

footer {
  background-color: $primary-color;
  grid-area: footer;
  min-height: $footer-height;
  color: $white-color;
  font-size: $font-size-sm * 0.9;

  > nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    @include make-container();
  }

  p {
    margin: 0;
  }

  a,
  a:focus,
  a:visited {
    color: $white-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
