@import "variables";
@import "mixins";

footer {
  background-color: $footer-background;
  grid-area: footer;
  min-height: $footer-height;
  color: $footer-color;
  font-size: $footer-font-size;

  > nav {
    @include make-container($container-gutter * 0.6);
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  p {
    margin: 0;
  }

  a,
  a:focus,
  a:visited {
    color: $footer-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
