@import "variables";
@import "mixins";

footer {
  background-color: $footer-background;
  grid-area: footer;
  min-height: $footer-height;
  color: $footer-color;
  font-size: $footer-font-size;
  border-top: $border-base;
  font-family: $footer-font-family;

  > nav {
    @include make-container($container-gutter * 0.6);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      height: 20px;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    .footer-social {
      display: flex;

      a {
        margin-left: $margin-base * 0.6;
        min-height: 20px;
        display: block;
        border: none;

        img {
          height: 20px;
          width: auto;
          transition: 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  a,
  a:focus,
  a:visited {
    color: $footer-link-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
