@import 'variables';
@import 'mixins';

.hero {
  background-color: $hero-background;
  color: $hero-color;
  font-family: $hero-font-family;
  font-size: $hero-font-size;
  line-height: $hero-line-height;
  margin-top: $hero-margin-top;
  margin-bottom: $hero-margin-bottom;
  padding: $hero-padding;
  position: relative;

  .hero-content {
    @include make-container();

    h1, h2, h3, h4, h5, h6 {
      font-family: $hero-font-family;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
}
