@import "variables";

code,
pre {
  font-family: $font-family-code;
  hyphens: none;
  line-height: 1.5;
  overflow: auto;
  tab-size: 2;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  letter-spacing: 0;
}

pre {
  background-color: $highlight-background;
  border-radius: $highlight-radius;
  color: white;
  margin: 0;
  overflow: auto;
  padding: $highlight-padding;
  margin: $highlight-margin 0;
  box-shadow: $highlight-shadow;
}

code {
  font-size: $highlight-font-size;
}

:not(pre) > code {
  font-size: $highlight-font-size;
  background: $lighterGray-color;
  border-radius: $highlight-radius;
  padding: 2px 4px 1px;
  margin: 0 2px;
  border: 1px solid $lightGray-color;
  white-space: normal;
  color: $secondary-color;
  letter-spacing: 0;
}

.highlight,
pre.highlight {
  border-radius: $highlight-radius;
  margin: $highlight-margin 0;
}

.highlight {
  position: relative;
  box-shadow: $highlight-shadow;

  .ge {
    font-style: italic;
  }

  .gs {
    font-weight: 700;
  }

  .ow {
    font-weight: 700;
  }

  .n,
  .nf,
  .nn,
  .o,
  .p {
    color: #abb2bf;
  }
  .c,
  .c1,
  .cm,
  .cp,
  .cs {
    color: #646d7c;
    font-style: italic;
  }
  .sr,
  .ss {
    color: #56b6c2;
  }
  .k,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
  .kt {
    color: #d9a9ff;
  }
  .l,
  .ld,
  .s,
  .s1,
  .s2,
  .sb,
  .sc,
  .sd,
  .se,
  .sh,
  .si,
  .sx {
    color: $highlight-green;
  }

  .nx,
  .vi {
    color: $highlight-blue;
  }

  .nt {
    color: $highlight-pink;
  }

  .il,
  .m,
  .mf,
  .mh,
  .mi,
  .mo,
  .na {
    color: $highlight-orange;
  }

  .bp,
  .nb,
  .nc,
  .nd,
  .ne,
  .ni,
  .nl,
  .no,
  .nv,
  .py,
  .vc,
  .vg {
    color: $highlight-yellow;
  }
  .gd {
    color: #e05252;
  }
  .gi {
    color: #43d08a;
  }
  .w {
    color: #f8f8f2;
  }
  .cpf {
    color: navy;
  }
  .gu {
    color: #75715e;
  }
  .lineno {
    color: #636d83;
    user-select: none;
  }
  .ln {
    color: #636d83;
    user-select: none;
  }
  .ln:after {
    content: " ";
  }
  .hll,
  .hl {
    color: #abb2bf;
    background-color: #3a3f4b;
    display: block;
  }

  .language-json .w + .s2 {
    color: #e06c75;
  }

  .language-json .kc {
    color: #56b6c2;
  }

  .language-javascript::before,
  .language-js::before {
    background: $highlight-lang-javascript;
    color: #000;
  }

  .language-fallback::before {
    display: none;
  }

  code::before {
    background: $highlight-before-background;
    border-radius: 4px;
    color: #fff;
    content: attr(data-lang);
    font-size: 12px;
    padding: 2px 8px;
    position: absolute;
    right: 8px;
    text-transform: lowercase;
    top: -8px;
  }

  .lntable {
    border-spacing: 0px;
    width: 100%;
  }
}
