@import "variables";
@import "rfs";

@mixin make-container($gutter: $container-gutter) {
  max-width: $body-max-width;
  margin: 0 auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

@mixin make-regular-layout() {
  body.regular-layout {
    grid-template-rows: $navbar-height auto $footer-height;
    grid-template-areas:
      "navbar"
      "main"
      "footer";
  }
}

@mixin make-bare-layout() {
  body.bare-layout {
    grid-template-rows: auto;
    grid-template-areas: "main";
  }
}

@mixin make-blog-post() {
  border: $border-base;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 $margin-base;
  width: 100%;
  border-radius: $border-radius;
  background-color: $white-color;
  box-shadow: $blog-card-shadow;

  &:hover {
    // border-color: $secondary-color;
  }

  img {
    width: 100%;
    height: auto;
  }

  .post-info {
    padding: ($margin-base * 1.5) ($margin-base * 1.5) 0;

    .post-categories {
      color: $secondary-color;
      line-height: 1;
      margin-bottom: $margin-base * 0.5;
      font-size: $font-size-sm * 0.95;

      a {
        display: inline-block;
        color: $secondary-color;
      }
    }

    h4 {
      margin-top: 0;
      margin-bottom: $margin-base * 0.5;
      line-height: 1.45;
    }

    .description {
      font-size: $font-size-sm;
      margin: 0;
    }
  }

  .post-details {
    color: $text-muted;
    font-size: $font-size-sm * 0.875;
    margin-top: $margin-base;
    margin-bottom: 0;
    padding: 0 ($margin-base * 1.5) ($margin-base * 1.5);
  }

  @media screen and (min-width: $body-max-width) {
    width: 49%;

    .post-info {
      padding: ($margin-base * 1.5) ($margin-base * 2) 0;
    }
    .post-details {
      padding: 0 ($margin-base * 2) ($margin-base * 1.5);
    }
  }
}
