@import 'mixins';

.navbar {
  position: sticky;
  min-height: $navbar-height;
  top: 0;
  grid-area: navbar;
  background-color: $white-color;
  z-index: 2;
  box-shadow: $navbar-shadow;

  > nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    @include make-container();

    .navbar-links {
      color: $primary-color;
      font-size: $font-size-base * 0.92;

      a {
        display: inline-block;
        padding: 0 $margin-base * 0.5;
      }
    }
  }
}
