@import 'variables';
@import 'mixins';

.share-buttons {
  display: flex;
  flex-direction: row;

  div {
    margin-right: $share-buttons-margin;

    svg {
      cursor: pointer;
      display: block;
      fill: $share-buttons-color;
      height: $share-buttons-size;
      transition: fill 0.5s ease;
      width: $share-buttons-size;
    }

    &.facebook:hover svg {
      fill: #3b5998;
    }

    &.twitter:hover svg {
      fill: #55acee;
    }

    &.linkedin:hover svg {
      fill: #0077b5;
    }

    &.mail:hover svg {
      fill: $text-muted;
    }
  }
}
