@import "variables";
@import "mixins";
@import "share-buttons";

.article-summary {
  picture {
    margin-bottom: 0;
  }

  .summary-wrapper {
    @include make-container();
    background-color: $white-color;
    padding-top: $container-gutter;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    .summary-categories {
      a {
        color: $secondary-color;
        font-size: $font-size-sm;
        display: inline-block;
      }
    }

    .summary-title {
      color: $darkGray-color;
      line-height: 1.25;
      margin: 0;
    }

    .summary-description {
      margin: ($margin-base * 0.5) 0 0;
    }

    .summary-info {
      font-size: $font-size-sm;
      color: $text-muted;
      margin-top: $margin-base * 0.5;
      margin-bottom: $margin-base * 0.65;
    }
  }

  &.summary-fit {
    padding-top: 0;

    figure {
      background-color: $white-color;
      text-align: center;
      display: block;
      margin-bottom: 0;
      padding-top: $container-gutter;

      img {
        width: 100vw;
        height: auto;

        @media (min-width: 1024px) {
          width: 70vw;
        }
      }

      &.figure-bottom,
      &.figure-middle {
        margin-top: 0;
      }

      &.figure-top {
        margin-top: 0;

        @media (max-width: 1024px) {
          padding-top: 0;
        }
      }
    }
  }

  &.summary-cover {
    background-color: $white-color;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(95vh - #{$navbar-height});
    min-height: 500px;
    background-color: rgba(0, 0, 0, $summary-cover-opacity);
    background-blend-mode: multiply;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

    .summary-wrapper {
      background-color: transparent;
      padding-bottom: $container-gutter;

      &.wrapper-top {
        justify-content: flex-start;
      }

      &.wrapper-middle {
        justify-content: center;
      }
    }

    &.summary-light .summary-categories {
      color: rgba(255, 255, 255, 0.7);
      a {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    &.summary-light .summary-title {
      color: $white-color;
    }

    &.summary-light .summary-description {
      color: $lightGray-color;
    }

    &.summary-light .summary-info {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
