// Main Colors
$primary-color: #BE0A75 !default;
$secondary-color: #01FFFF !default;
$darkGray-color: #1f2125 !default;
$lightGray-color: #E2E8F0 !default;
$black-color: #000000 !default;
$white-color: #FFFFFF !default;

// Fonts
$body-font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$code-font-family: "Fira Code", Consolas, Menlo, Monaco, source-code-pro, monospace;

// Margins
$margin-size: 1.25em;

// Highlight (code)
$highlight-background: #2D3748 !default; // #282c34 !default;
$highlight-blue: #61afef !default;
$highlight-pink: #e06c75 !default;
$highlight-orange: #eea112 !default;
$highlight-yellow: #e5c07b !default;
$highlight-green: #98c379 !default;

$highlight-lang-css: #2caddd !default;
$highlight-lang-html: #ff4800 !default;
$highlight-lang-javascript: #f7df1e !default;
$highlight-lang-react: #61dbfb !default;
$highlight-lang-angular: #dd1b16 !default;

$highlight-font-size: 14px !default;
$highlight-radius: 4px !default;
$highlight-padding: 20px !default;
