@import 'variables';
@import 'hero';
@import 'highlight';

.container {
  position: relative;
  background-color: $white-color;

  &:after,
  &:before {
    display: block;
    content: '';
    position: absolute;
    top: -250px;
    z-index: -1;
    width: 20px;
    height: 900px;
    background: rgba(39, 44, 49, 0.08);
    filter: blur(9px);
  }

  &:after {
    right: -3px;
    transform: rotate(1deg);
  }

  &:before {
    left: -3px;
    transform: rotate(-1deg);
  }
}
