@import 'variables';
@import 'hero';
@import 'highlight';

.about-eyes {
  background-color: $primary-color;
  background-position: center center;
  background-size: cover;
  background-image: url('/images/eyes.webp');
  background-repeat: no-repeat;
  height: 220px;
}

.container {
  margin-top: $container-gutter;

  h1, h2 {
    border-bottom: 1px solid $lightGray-color;
  }
}
