@import 'variables';
@import 'highlight';

body {
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    'navbar'
    'main'
    'footer';
}

main {
  grid-area: main;
  overflow: hidden;

  .article,
  article {
    font-size: $font-size-base;
    line-height: $line-height-base;
    max-width: $body-max-width;
    margin: $margin-base auto;
    padding-left: $margin-base;
    padding-right: $margin-base;

    .pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: $border-base;
      padding-top: $margin-base;
      font-weight: $font-weight-bold;

      .prev-post,
      .next-post {
        min-width: 48%;
      }

      .next-post {
        text-align: right;
      }
    }

    // Thanks to https://css-tricks.com/full-width-containers-limited-width-parents/
    .full-width {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      margin-top: $margin-base * 4;
      margin-bottom: $margin-base * 3;
    }

    .almost-width {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      margin-top: $margin-base * 4;
      margin-bottom: $margin-base * 3;
      padding: 0 14vw;

      @media (max-width: 960px) {
        padding: 0;
      }
    }

    .hero {
      background-color: $lighterGray-color;
      color: #1a1a1a;
      font-family: $font-family-quotes;
      font-size: $font-size-lg;
      line-height: 1.8em;
      padding: 1em 2em;
      position: relative;
      margin-top: $margin-base * 2;
      margin-bottom: $margin-base * 1.5;

      .hero-content {
        max-width: $body-max-width;
        margin: $margin-base auto;
        padding-left: $margin-base;
        padding-right: $margin-base;
      }
    }

    img {
      vertical-align: middle;
      width: 100%;
      height: auto;
    }

    figure {
      img {
        margin-bottom: $margin-base * 0.5;
      }

      figcaption {
        text-align: center;
        font-style: italic;
        font-size: $font-size-sm;
        padding: 0 $margin-base;
        max-width: $body-max-width;
        margin: 0 auto $margin-base;

        p {
          margin: 0;
        }
      }
    }

    // Table styles
    table {
      width: 100%;
      margin-bottom: $table-margin-bottom;
      color: $table-text-color;
      vertical-align: top;
      border-color: $table-border-color;

      > :not(caption) > * > * {
        padding: $table-cell-padding-y $table-cell-padding-x;
        border-bottom-width: $table-border-width;
      }

      > tbody {
        vertical-align: inherit;
      }

      > thead {
        vertical-align: bottom;
        background-color: $lighterGray-color;
      }

      // Highlight border color between thead, tbody and tfoot.
      > :not(:last-child) > :last-child > * {
        border-bottom-color: $table-border-color;
      }

      > :not(caption) > * {
        border-width: $table-border-width 0;

        // stylelint-disable-next-line selector-max-universal
        > * {
          border-width: 0 $table-border-width;
        }
      }
    }

    // Blockquotes
    // Blockquote CSS
    blockquote {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-left: 5px solid $primary-color;
      background-color: $lighterGray-color;
      color: #1a1a1a;
      font-family: $font-family-quotes;
      font-size: $font-size-lg;
      font-style: italic;
      line-height: 1.8em;
      padding: 1em 2em;
      position: relative;
      // box-shadow: 0 11px 21px -5px rgba(0, 0, 0, 0.44);

      p {
        margin-bottom: 0 !important;
      }

      cite {
        display: block;
        font-size: $font-size-sm;
        line-height: 1.8em;
        margin-top: $margin-base;
      }
    }

    .footnotes {
      font-size: $font-size-sm;
      font-family: $font-family-footnotes;
      p {
        margin: 0;
      }
    }
  }
}
