@import "variables";
@import "mixins";
@import "highlight";
@import "summary";
@import "toc";
@import "hero";
@import "lightbox";
@import "lite-yt-embed";

article {
  position: relative;
  background-color: $white-color;

  > p:first-child,
  > .toc + p {
    &::first-letter {
      @include make-capital();
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.fit {
      margin: $wide-width-margin;
    }

    &.full {
      .gallery-row {
        .gallery-img:first-child {
          border-top-left-radius: none;
          border-bottom-left-radius: none;
        }
        .gallery-img:last-child {
          border-top-right-radius: none;
          border-bottom-right-radius: none;
        }
      }
    }

    .gallery-caption {
      @include make-container();
      text-align: center;
      font-size: $font-size-sm;
      margin-top: $margin-base - $margin-base * 0.5;
      color: $text-muted;
      font-family: $font-family-sans-serif;
    }

    .gallery-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      overflow: hidden;
      flex-wrap: wrap;
      margin-bottom: $margin-base * 0.5;

      &:last-child {
        margin-bottom: 0;
      }



      .gallery-img {
        overflow: hidden;
        border-radius: $border-radius;
        position: relative;
        margin-right: $margin-base * 0.5;

        &:last-child {
          margin-right: 0;
        }

        img {
          cursor: zoom-in;
        }
      }
    }
  }

  .align-left {
    max-width: 50%;
    width: 100%;
    margin-top: 5px;
    margin-bottom: $margin-sm;
    margin-right: $margin-md;
    margin-left: -$container-gutter * 6;
    float: left;
    clear: both;

    *:first-child {
      margin-top: 0;
      margin-bottom: 0;
    }

    @media (max-width: $body-max-width) {
      max-width: 100%;
      float: none;
      margin-right: 0;
    }

    @media (max-width: $body-ipad-width) {
      margin-left: 0;
    }
  }

  .align-right {
    max-width: 50%;
    width: 100%;
    margin-top: 5px;
    margin-bottom: $margin-sm;
    margin-left: $margin-md;
    margin-right: -$container-gutter * 6;
    float: right;
    clear: both;

    *:first-child {
      margin-top: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    @media (max-width: $body-max-width) {
      max-width: 100%;
      float: none;
      margin-left: 0;
    }

    @media (max-width: $body-ipad-width) {
      margin-right: 0;
    }
  }

  img {
    vertical-align: middle;
    width: 100%;
    height: auto;
  }

  .instagram-media {
    border: $border-base !important;
  }

  // Table styles
  table {
    width: 100%;
    margin: $table-margin 0;
    color: $table-text-color;
    vertical-align: top;
    border-color: $table-border-color;

    > :not(caption) > * > * {
      padding: $table-cell-padding-y $table-cell-padding-x;
      border-bottom-width: $table-border-width;
    }

    > tbody {
      vertical-align: inherit;
    }

    > thead {
      vertical-align: bottom;
      background-color: $gray-light-color;
    }

    // Highlight border color between thead, tbody and tfoot.
    > :not(:last-child) > :last-child > * {
      border-bottom-color: $table-border-color;
    }

    > :not(caption) > * {
      border-width: $table-border-width 0;

      // stylelint-disable-next-line selector-max-universal
      > * {
        border-width: 0 $table-border-width;
      }
    }
  }

  // Blockquotes
  // Blockquote CSS
  blockquote {
    border-left: $blockquote-border;
    background-color: $blockquote-background;
    color: $blockquote-color;
    font-family: $blockquote-font-family;
    font-size: $blockquote-font-size;
    font-style: $blockquote-font-style;
    line-height: $blockquote-line-height;
    padding: $blockquote-padding;
    position: relative;

    *:first-child {
      margin-top: 0 !important;
    }

    *:last-child {
      margin-bottom: 0 !important;
    }

    cite {
      display: block;
      font-size: $font-size-sm;
      color: $text-muted;
      line-height: 1.5;

      &:before {
        content: "— ";
      }
    }
  }

  .footnotes {
    font-size: $font-size-sm;
    font-family: $font-family-sans-serif;

    p {
      margin: 0;
    }
  }
}

.article-pagination {
  align-items: flex-start;
  border-top: $border-base;
  display: flex;
  justify-content: space-between;
  padding: $margin-base 0;
  background-color: $white-color;
  font-family: $font-family-sans-serif;

  .prev-post,
  .next-post {
    max-width: 48%;
    line-height: 1.6;
    text-transform: uppercase;
    color: $text-muted;

    small {
      font-size: $font-size-sm;
      display: block;
    }

    a {
      font-size: $font-size-base;
      text-transform: initial;
      text-transform: initial;
      border-color: transparent;

      &:hover {
        border-color: $link-hover-color;
      }
    }
  }

  .next-post {
    text-align: right;
  }
}

.article-tags {
  margin-top: $margin-base * 3;
  margin-bottom: $margin-base;
  background-color: $white-color;

  font-family: $font-family-sans-serif;

  a {
    background-color: $gray-light-color;
    border-radius: $border-radius;
    padding: 3px 10px;
    margin-bottom: $margin-base * 0.3;
    font-size: $font-size-sm;
    display: inline-block;
    text-decoration: none;
    border: none;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.article-related {
  border-top: $border-base;
  padding-top: $margin-base;
  padding-bottom: $margin-base;

  small {
    text-align: center;
    font-size: $font-size-sm;
    text-transform: uppercase;
    color: $text-muted;
    margin: $margin-base 0 ($margin-base * 2);
    display: block;
    font-family: $font-family-sans-serif;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      @include make-blog-post();
    }
  }
}
