@import 'variables';
@import 'mixins';
@import 'highlight';
@import 'summary';
@import 'toc';
@import 'hero';

article {
  position: relative;
  background-color: $white-color;
  padding-top: $container-gutter;

  &.cover {
    &:after,
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: -500px;
      z-index: -1;
      width: 20px;
      height: 900px;
      background: rgba(39, 44, 49, 0.08);
      filter: blur(9px);
    }

    &:after {
      right: -3px;
      transform: rotate(1deg);
    }

    &:before {
      left: -3px;
      transform: rotate(-1deg);
    }
  }

  img {
    vertical-align: middle;
    width: 100%;
    height: auto;
  }

  iframe {
    padding-bottom: $margin-base;
  }

  // Table styles
  table {
    width: 100%;
    margin-bottom: $table-margin-bottom;
    color: $table-text-color;
    vertical-align: top;
    border-color: $table-border-color;

    > :not(caption) > * > * {
      padding: $table-cell-padding-y $table-cell-padding-x;
      border-bottom-width: $table-border-width;
    }

    > tbody {
      vertical-align: inherit;
    }

    > thead {
      vertical-align: bottom;
      background-color: $lighterGray-color;
    }

    // Highlight border color between thead, tbody and tfoot.
    > :not(:last-child) > :last-child > * {
      border-bottom-color: $table-border-color;
    }

    > :not(caption) > * {
      border-width: $table-border-width 0;

      // stylelint-disable-next-line selector-max-universal
      > * {
        border-width: 0 $table-border-width;
      }
    }
  }

  // Blockquotes
  // Blockquote CSS
  blockquote {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-left: $blockquote-border;
    background-color: $blockquote-background;
    color: $blockquote-color;
    font-family: $blockquote-font-family;
    font-size: $blockquote-font-size;
    font-style: $blockquote-font-style;
    line-height: $blockquote-line-height;
    padding: $blockquote-padding;
    position: relative;

    *:last-child {
      margin-bottom: 0 !important;
    }

    cite {
      display: block;
      font-size: $font-size-sm;
      line-height: 1.5;

      &:before {
        content: '— '
      }
    }
  }

  .footnotes {
    font-size: $font-size-sm;
    font-family: $font-family-footnotes !important;

    p {
      margin: 0;
    }
  }
}

.article-pagination {
  align-items: flex-start;
  border-top: $border-base;
  display: flex;
  justify-content: space-between;
  padding: $margin-base 0;
  background-color: $white-color;

  .prev-post,
  .next-post {
    max-width: 48%;
    line-height: 1.6;
    font-size: $font-size-sm * 0.9;
    color: $text-muted;

    div {
      font-size: $font-size-base;
    }
  }

  .next-post {
    text-align: right;
  }
}

.article-tags {
  margin-top: $margin-base * 3;
  margin-bottom: $margin-base;
  background-color: $white-color;

  a {
    background-color: $lighterGray-color;
    border-radius: $border-radius;
    padding: 3px 10px;
    margin-bottom: $margin-base * 0.3;
    font-size: $font-size-sm * 0.95;
    display: inline-block;
  }
}

.article-related {
  border-top: $border-base;
  padding-top: $margin-base * 2;
  padding-bottom: $margin-base;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      @include make-blog-post();
    }
  }
}
