@import "variables";
@import "mixins";

main {
  .container {
    $scale-padding: 0.6;
    @include make-container($container-gutter * $scale-padding);
    padding-top: $container-gutter * $scale-padding;
    padding-bottom: $container-gutter * $scale-padding - $margin-base;

    ul.blog-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        @include make-blog-post();
      }
    }

    ul.blog-categories-list {
      display: flex;
      list-style: none;
      margin-bottom: $margin-base;
      margin: 0;
      padding: 0;

      a {
        background-color: $lighterGray-color;
        border-radius: $border-radius;
        display: inline-block;
        margin-right: $margin-base * 0.5;
        padding: 5px 15px;
      }
    }

    .blog-pagination {
      border-top: $border-base;
      padding: $margin-base 0;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
          margin: 0 $margin-base * 0.5;

          a.is-current,
          a.disabled {
            color: $text-muted;
            pointer-events: none;
          }
        }
      }
    }
  }
}
