@import "variables";

footer {
  align-items: center;
  background-color: $primary-color;
  display: flex;
  grid-area: "footer";
  height: 100%;
  justify-content: center;
  min-height: 50px;

  nav {
    max-width: $body-max-width;
    margin: 0 auto;
  }

  a,
  a:focus,
  a:visited {
    color: $white-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
