@import 'variables';
@import 'mixins';

body {
  height: 100vh;
  overflow: hidden;
  background-color: $darkGray-color;

  main {
    align-items: center;
    display: flex;
    height: 100%;
    text-align: center;
    width: 100%;
    justify-content: center;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .lead {
        @include font-size(1.05rem);

        *:first-child {
          color: $text-muted;
          margin-top: 0;
        }
      }

      .profile-wrap {
        $profile-pic-size: 200px;

        position: relative;
        margin: 0 auto $margin-base * 2;
        text-align: center;
        height: $profile-pic-size;
        width: $profile-pic-size;
        z-index: 5;

        .profile-pic {
          box-shadow: $shadow-base;
          border-radius: 9999px;
          height: $profile-pic-size;
          width: $profile-pic-size;
          z-index: 0;
        }

        .pulse1 {
          position: absolute;
          width: $profile-pic-size;
          height: $profile-pic-size;
          margin: auto;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 2;
          opacity: 0;
          border: 2px solid rgba(255, 255, 255, 0.1);
          -webkit-animation: pulse1 4s linear infinite;
          animation: pulse1 4s linear infinite;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, 0.6);
          box-sizing: border-box;
          transition: all ease 0.8s;
        }
        .pulse2 {
          position: absolute;
          width: $profile-pic-size;
          height: $profile-pic-size;
          margin: auto;
          top: 0px;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 2;
          opacity: 0;
          border: 10px solid rgba(0, 0, 0, 0.4);
          -webkit-animation: pulse2 4s linear infinite;
          animation: pulse2 4s linear infinite;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, 0.8);
          box-sizing: border-box;
          transition: all ease 0.8s;
        }
      }

      .logo-pic {
        width: 80%;
        max-width: 35ch;
        margin-bottom: $margin-base * 2;
      }

      .links {
        color: $primary-color;
        margin-bottom: 0;

        a {
          display: inline-block;
          margin: 0 ($margin-base * 0.45);
        }
      }
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: radial-gradient($black-color 2px, transparent 0);
    opacity: 0.15;
    background-size: 20px 20px;
    z-index: -1;
  }
}

@-webkit-keyframes pulse1 {
  0% {
    -webkit-transform: scale(0.6);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.6);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(0.9);
    opacity: 0.1;
  }
  70% {
    -webkit-transform: scale(1.1);
    opacity: 0.25;
  }
  80% {
    -webkit-transform: scale(1.25);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes pulse1 {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  50% {
    transform: scale(0.6);
    opacity: 0;
  }
  60% {
    transform: scale(0.9);
    opacity: 0.1;
  }
  70% {
    transform: scale(1.1);
    opacity: 0.25;
  }
  80% {
    transform: scale(1.25);
    opacity: 0.1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(0.6);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(0.8);
    opacity: 0.05;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 0.1;
  }
  60% {
    -webkit-transform: scale(1.1);
    opacity: 0.3;
  }
  80% {
    -webkit-transform: scale(1.2);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  40% {
    transform: scale(0.8);
    opacity: 0.05;
  }
  50% {
    transform: scale(1);
    opacity: 0.1;
  }
  60% {
    transform: scale(1.1);
    opacity: 0.3;
  }
  80% {
    transform: scale(1.2);
    opacity: 0.1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
