@import "variables";

.navbar {
  position: sticky;
  align-items: center;
  background-color: $white-color;
  display: flex;
  grid-area: nav;
  height: 100%;
  justify-content: space-around;
  min-height: 50px;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);

  // ul {
  //   max-width: $body-max-width;
  //   margin: 0 auto;
  // }

  a,
  a:focus,
  a:visited {
    color: $black-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
