@import "variables";

.summary {
  background-color: $lighterGray-color;
  margin-bottom: $margin-base;
  padding: ($margin-base * 1.5) 0;
  // text-align: center;

  .summary-wrapper {
    max-width: $body-max-width;
    margin: 0 auto;
    padding: 0 ($margin-base * 2);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .lead {
      font-size: calc(1rem + 0.3vmin);
      margin-bottom: $margin-base * 0.65;
    }

    .summary-info {
      font-size: $font-size-sm;
      opacity: 0.8;
    }
  }

  &.with-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(95vh - 50px);
    background-color: rgba(0, 0, 0, 0.5) !important;
    background-blend-mode: multiply;
    color: white;
    margin-bottom: $margin-base * 2.5;
    padding: ($margin-base * 4) 0;

    h1,
    .lead,
    .summary-info {
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
  }
}
