@import 'variables';

.toc {
  background-color: $lighterGray-color;
  border-radius: $border-radius;
  font-family: $font-family-base;
  margin-bottom: $margin-base;
  padding: 20px;
  z-index: 1;

  ul:last-child {
    margin-bottom: 0;
  }

  summary {
    outline: none;
  }
}
