@import 'variables';

.toc {
  top: 100px;
  position: sticky;
  width: 200px;
  padding: 20px;
  background-color: $lighterGray-color;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  z-index: 1;
}
