{{ $styles := resources.Get "styles/summary.scss" }}
{{ $styles = $styles | toCSS | minify | fingerprint }}
<style>{{ $styles.Content | safeCSS }}</style>

{{ with .Params.Cover }}
<style>
  .summary.with-cover {
    background-image: url({{ . }});
  }
</style>
{{ end }}

<section class="summary {{ with .Params.Cover }}{{ "with-cover" }}{{ end }}">
  <summary class="summary-wrapper">
    <h1>{{ .Page.Title }}</h1>
    <p class="lead">
      {{- .Params.Summary | default .Description -}}
    </p>
    <p class="summary-info">
      {{ if .Params.Author }}
      By <strong>{{ .Params.Author }}</strong> ·
      {{ else }}
        By <strong>Christiam Mena</strong> ·
      {{ end }}
      <time datetime="{{ .PublishDate.Format "January 2, 2006" }}">
        {{ .PublishDate.Format "January 2, 2006" }}
      </time> ·
      {{.ReadingTime}} minutos de lectura ·
      {{ .WordCount }}
      palabras
    </p>
    </summary>
</section>
