<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{- .Title | default .Site.Title -}}</title>
<meta name="description" content="{{- .Description | default .Site.Params.Description -}}">

<meta name="robots" content="index, follow">

{{ $style := resources.Get "styles/main.scss" }}
{{ $style = $style | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ partial "site-favicons" . }}
{{ with .OutputFormats.Get "RSS" }}
<link rel="alternate" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ site.Title }}">
<link rel="feed" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ site.Title }}">
{{end}}

<meta property="og:url" content="{{.Permalink}}" />

<meta name="twitter:card" content="summary_large_image" />

<meta name="twitter:creator" content="@xtiam57" />
<meta name="twitter:domain" content="xtiam57.vercel.app" />
<meta name="twitter:image" content="https://xtiam57.vercel.app{{ .Params.image | default .Site.Params.Image }}" />
<meta name="twitter:site" content="@xtiam57" />

<link rel="manifest" href="/manifest.json" />

<meta property="og:locale" content="es_ES" />
<meta property="og:title" content="{{ .Title | default .Site.Title }}" />
<meta property="og:image" content="https://xtiam57.vercel.app{{ .Params.image | default .Site.Params.Image }}" />
<meta property="og:description" content="{{- .Description | default .Site.Params.Description -}}" />
<meta property="og:site_name" content="xtiam57.vercel.app" />
