{{ $styles := resources.Get "styles/summary.scss" }}
{{ $styles = $styles | toCSS | minify | fingerprint }}
<style>{{ $styles.Content | safeCSS }}</style>

{{ with .Params.Cover }}
<style>
  .summary.with-cover {
    background-image: url({{ . }});
  }
</style>
{{ end }}

<section class="summary {{ with .Params.Cover }}{{ "with-cover" }}{{ end }}">
  <summary class="summary-wrapper">
    <h1>{{ .Page.Title }}</h1>
    {{ if .Page.Summary }}
      {{ with .Page.Summary }}
      <p class="lead">{{ . }}</p>
      {{ end }}
    {{ else }}
    {{ with .Page.Description }}
    <p class="lead">{{ . }}</p>
    {{ end }}
    {{ end }}
    <p class="summary-info">
      By <strong>Christiam Mena</strong> ·
      <time datetime="{{ .PublishDate.Format "January 2, 2006" }}">
        {{ .PublishDate.Format "January 2, 2006" }}
      </time> ·
      {{.ReadingTime}}m ·
      {{ .WordCount }}
      words
    </p>
    </summary>
</section>
