{{ define "styles" }}
{{ $styles := resources.Get "styles/404.scss" }}
{{ $styles = $styles | toCSS | minify | fingerprint }}
<style>{{ $styles.Content | safeCSS }}</style>
{{ end }}

{{ define "content"}}
<main>
  <section class="container">
    <h1 class="margin-top-0 margin-bottom-0">
      404
    </h1>
    <h4 class="margin-top-0 margin-bottom-0">Página no encontrada</h4>

    <p>
      La página que estás buscando no existe u otro error ha ocurrido. <a href="{{ "/" | relURL }}">Ir al inicio</a>
    </p>
  </section>
</main>
{{ end }}
