{{ if or .PrevInSection .NextInSection }}
<section role="pagination" class="article-pagination">
  <div class="prev-post">
    {{ with .PrevInSection }}
    <small>Anterior</small>
    <a href="{{ .Permalink }}">
      <div>
        {{ .Title }}
      </div>
    </a>
    {{ end }}
  </div>

  <div class="next-post">
    {{ with .NextInSection }}
    <small>Siguiente</small>
    <a href="{{ .Permalink }}">
      <div>
        {{ .Title }}
      </div>
    </a>
    {{ end }}
  </div>
</section>
{{ end }}
