{{ $image := .Params.Image | default "" }}
{{ $placeholder := "" }}
{{ $style := .Params.Style | default "fit" }}
{{ $position := .Params.Position | default "bottom" }}

<!-- Apply placeholder filter -->
{{ if $image }}
{{ $image = resources.Get .Params.Image }}
{{ $placeholder = $image.Resize .Site.Params.PlaceholderQuality }}
{{ $placeholder = $placeholder.Filter (images.GaussianBlur .Site.Params.PlaceholderGaussian) }}
{{ end }}

{{ if and (eq $style "cover") $image }}
<style>
  .article-summary.summary-cover {
    background-image: url({{ $image.Permalink }});
  }
</style>
{{ end }}

{{ if not $image }}
{{ $style = "none" }}
{{ end }}

<section role="summary"
         class="article-summary summary-{{ $style }}">

  {{ if and (eq $style "fit") (eq $position "top") }}
  <figure class="figure-{{ $position }}">
    <img data-lazy="{{ $image.Permalink }}"
         src="{{ $placeholder.Permalink }}"
         alt="{{- .Params.Summary | default .Description | markdownify -}}"
         class="img-lazy">
    {{ with .Params.Caption }}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
  </figure>
  {{ end }}

  <div class="summary-wrapper wrapper-{{ $position }}">
    {{ if .Params.categories }}
    <div class="summary-categories"
         role="categories">
      {{ range $index, $categories := .Params.categories }}
      {{- if gt $index 0 }} · {{ end -}}
      <a href="/categories/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}

    <h1 class="summary-title">{{ .Page.Title }}</h1>

    <p class="summary-description">
      {{- .Params.Summary | default .Description | markdownify -}}
    </p>

    <p class="summary-info">
      {{ if .Params.Author }}
      Por <strong>{{ .Params.Author }}</strong> ·
      {{ else }}
      Por <strong>Christiam Mena</strong> ·
      {{ end }}
      <time datetime="{{ .PublishDate.Format "January 2, 2006" }}">
        {{ .PublishDate.Format "January 2, 2006" }}
      </time> ·
      {{.ReadingTime}} min
    </p>

    {{ partial "article/share-buttons.html" . }}
  </div>

  {{ if and (eq $style "fit") (or (eq $position "bottom") (eq $position "middle")) }}
  <figure class="figure-{{ $position }}">
    <img data-lazy="{{ $image.Permalink }}"
         src="{{ $placeholder.Permalink }}"
         alt="{{- .Params.Summary | default .Description | markdownify -}}"
         class="img-lazy">
    {{ with .Params.Caption }}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
  </figure>
  {{ end }}
</section>
