{{ $image := .Params.Image | default "" }}
{{ $placeholder := "" }}
{{ $type := .Params.SummaryType | default "fit" }}
{{ $position := .Params.SummaryPosition | default "bottom" }}
{{ $gradient := "linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 70%)" }}

<!-- Apply placeholder filter -->
{{ if $image }}
{{ $image = resources.Get .Params.Image }}
{{ $placeholder = $image.Resize .Site.Params.PlaceholderQuality }}
{{ $placeholder = $placeholder.Filter (images.GaussianBlur .Site.Params.PlaceholderGaussian) }}
{{ end }}

{{ if and (eq $type "cover") $image }}
{{ if eq $position "top" }}
{{ $gradient = "linear-gradient(180deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 70%)" }}
{{ end }}
{{ if eq $position "middle" }}
{{ $gradient = "linear-gradient(0deg, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.35) 100%)" }}
{{ end }}
<style>
  .article-summary.summary-cover {
    background-image: {{ $gradient | safeCSS }}, url({{ $image.Permalink }});
  }
</style>
{{ end }}

{{ if not $image }}
{{ $type = "none" }}
{{ end }}

<section role="summary"
         class="article-summary summary-{{ $type }}">

  {{ if and (eq $type "fit") (eq $position "top") }}
  <figure class="figure-{{ $position }}">
    <img data-lazy="{{ $image.Permalink }}"
         src="{{ $placeholder.Permalink }}"
         alt="{{- .Params.Summary | default .Description | markdownify -}}"
         class="img-lazy">
    {{ with .Params.Caption }}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
  </figure>
  {{ end }}

  <div class="summary-wrapper wrapper-{{ $position }}">
    {{ if .Params.categories }}
    <div class="summary-categories"
         role="categories">
      {{ range $index, $categories := .Params.categories }}
      {{- if gt $index 0 }} · {{ end -}}
      <a href="/categories/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}

    <h1 class="summary-title">
      {{ .Page.Title }}<span class="terminal-cursor"></span>
    </h1>

    {{ if not .Params.HideDescription }}
    <p class="summary-description">
      {{- .Params.Summary | default .Description | markdownify -}}
    </p>
    {{ end }}

    <p class="summary-info">
      {{ if .Params.Author }}
      Por <strong>{{ .Params.Author }}</strong> ·
      {{ else }}
      Por <strong>Christiam Mena</strong> ·
      {{ end }}
      <time datetime="{{ .PublishDate.Format "January 2, 2006" }}">
        {{ .PublishDate.Format "January 2, 2006" }}
      </time> ·
      {{.ReadingTime}} min
    </p>

    {{ partial "article/share-buttons.html" . }}
  </div>

  {{ if and (eq $type "fit") (or (eq $position "bottom") (eq $position "middle")) }}
  <figure class="figure-{{ $position }}">
    <img data-lazy="{{ $image.Permalink }}"
         src="{{ $placeholder.Permalink }}"
         alt="{{- .Params.Summary | default .Description | markdownify -}}"
         class="img-lazy">
    {{ with .Params.Caption }}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
  </figure>
  {{ end }}
</section>
