{{ $class := "" }}
{{ $style := .Params.Style | default "fit" }}
{{ $position := .Params.Position | default "bottom" }}
{{ $image := "" }}
{{ $placeholder := "" }}

{{ if .Params.Image  }}
{{ $image = resources.Get .Params.Image }}
{{ $placeholder = $image.Resize .Site.Params.Quality }}
{{ $placeholder = $placeholder.Filter (images.GaussianBlur .Site.Params.Gaussian) }}
{{ end }}

{{ if eq $style "cover" }}
{{ $class = "full-cover" }}
{{ if $image }}
<style>
  .article-summary.full-cover {
    background-image: url({{ $image.Permalink }});
  }
</style>
{{ end }}
{{ else if eq $style "fit" }}
{{ $class = "fit-cover" }}
{{ end }}

{{ if not .Params.Image }}
{{ $class = "" }}
{{ $style = "" }}
{{ end }}

<section role="summary"
         class="article-summary {{ $class }}">
  {{ if and (eq $style "fit") (eq $position "top") }}
  <figure class="{{ $position }}">
    <img data-lazy="{{ $image.Permalink }}"
         src="{{ $placeholder.Permalink }}"
         alt="{{- .Params.Summary | default .Description | markdownify -}}"
         class="img-lazy">
    {{ with .Params.Caption }}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
  </figure>
  {{ end }}

  <div class="summary-wrapper">
    {{ if .Params.categories }}
    <section class="summary-categories">
      {{ range $index, $categories := .Params.categories }}
      {{- if gt $index 0 }} · {{ end -}}
      <a href="/categories/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </section>
    {{ end }}

    <h1>{{ .Page.Title }}</h1>
    <!-- <p class="summary-description">
      {{- .Params.Summary | default .Description | markdownify -}}
    </p> -->
    <p class="summary-info">
      {{ if .Params.Author }}
      Por <strong>{{ .Params.Author }}</strong> ·
      {{ else }}
      Por <strong>Christiam Mena</strong> ·
      {{ end }}
      <time datetime="{{ .PublishDate.Format "January 2, 2006" }}">
        {{ .PublishDate.Format "January 2, 2006" }}
      </time> ·
      {{.ReadingTime}} minutos de lectura
    </p>

    {{ partial "article/share-buttons.html" . }}
  </div>

  {{ if and (eq $style "fit") (eq $position "bottom") }}
  <figure class="{{ $position }}">
    <img data-lazy="{{ $image.Permalink }}"
         src="{{ $placeholder.Permalink }}"
         alt="{{- .Params.Summary | default .Description | markdownify -}}"
         class="img-lazy">
    {{ with .Params.Caption }}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
  </figure>
  {{ end }}
</section>
