{{ $image := resources.Get (.Get "src") }}
{{ $placeholder := $image.Resize .Site.Params.PlaceholderQuality }}
{{ $placeholder = $placeholder.Filter (images.GaussianBlur .Site.Params.PlaceholderGaussian) }}

<figure {{ with .Get "class" }}
        class="{{ . }}"
        {{ end }}>
  <img {{ with .Get "caption" }}alt="{{ . | markdownify }}"
       {{ end }}
       data-zoomable
       data-lazy="{{ $image.Permalink }}"
       src="{{ $placeholder.Permalink }}"
       class="img-lazy {{ with .Get "imageClass" }}{{ . }}{{ end }}" />
  {{ with .Get "caption" }}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{ end }}
</figure>
